.siteBar {
  display: flex;
  position: sticky;
  height: 100vh;
  left: 0;
  .userProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: #70bfd2;
    height: 100%;
    padding: 15px 0;
    width: 70px;
    .userDiv {
      width: 43px;
      height: 43px;
      position: relative;
      .user {
        width: 43px;
        height: 43px;
        border-radius: 5px;
      }
      .onlineDiv {
        width: 13px;
        height: 13px;
        background: #3eaf3f;
        border-radius: 50%;
        border: solid 3px white;
        position: absolute;
        bottom: -4px;
        right: -3px;
      }
    }
    img {
      width: 30px;
      height: auto;
      cursor: pointer;
    }
    h4 {
      color: white;
      font-weight: 600;
      font-size: 19px;
      cursor: pointer;
    }
  }
  .userMenu {
    width: 270px;
    height: 100%;
    background: #e3f1f4;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: transparent #e3f1f4;
    -webkit-overflow-scrolling: touch;
    pointer-events: auto;
    transition: scrollbar-color ease 0.3s;
    &:hover {
      scrollbar-color: #70bfd2 #e3f1f4;
    }
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 10px;
    }
    &:hover::-webkit-scrollbar-thumb {
      background-color: #70bfd2;
    }
    &::-webkit-scrollbar-track {
      background: #e3f1f4;
    }
    span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: solid 2px #298ea699;
      padding: 18px 20px;
      position: sticky;
      top: 0;
      background: #e3f1f4;
      z-index: 1;
      h3 {
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: 16px;
        cursor: pointer;
        .arrow {
          font-size: 17px;
        }
      }
      .logout {
        font-size: 19px;
        cursor: pointer;
      }
    }
    .detailsPersonal {
      font-size: 16px;
      border-bottom: solid 2px #298ea699;
      cursor: pointer;
      padding: 5px 13px;
      transition: ease 0.5s;

      summary {
        padding: 15px 10px;
        display: flex;
        align-items: center;
        transition: ease 0.3s;
        gap: 10px;
        cursor: pointer;
        &::-webkit-details-marker {
          display: none;
        }
        .arrowDetails {
          transition: transform 0.3s ease;
        }
      }
      &[open] .arrowDetails {
        transform: rotate(90deg);
        transition: transform 0.3s ease;
      }
      summary:hover {
        background: #70bfd1;
        transition: ease 0.3s;
        border-radius: 5px;
      }
      h3 {
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        font-size: 15px;
        cursor: pointer;
        padding: 13px 10px;
        transition: ease-in-out 0.5s;
        .hashtag {
          font-size: 18px;
        }
        .iconTittle {
          display: flex;
          align-items: center;
          gap: 5px;
          position: relative;
          transition: ease 0.5s;
          .userMsg {
            width: 35px;
            height: 35px;
          }
          .onlineDiv {
            background: #3eaf3f;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            border: solid 2px white;
            position: absolute;
            bottom: -3px;
            right: 69px;
          }
        }
        &:hover {
          background: #70bfd1;
          border-radius: 5px;
        }
        .quantity {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          font-size: 15px;
          color: #000000;
          background: white;
          min-width: 20px;
          height: 20px;
          border-radius: 50px;
        }
      }
      h2 {
        font-size: 16px;
        padding: 13px 10px;
        font-weight: 500;
        color: #063248;
        display: flex;
        align-items: center;
        transition: ease-out 0.5s;
        &:hover {
          background: #70bfd1;
          border-radius: 5px;
        }
      }
    }

    .userOptions {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 15px 20px;
      gap: 10px;
      h2 {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 500;
        color: #063248;
        cursor: pointer;
        padding: 10px;
        .optionIcons {
          font-size: 18px;
        }
        &:hover {
          background: #70bfd1;
          width: 100%;
          border-radius: 5px;
        }
      }
    }
  }
}
